<html>
  <head>
    {include file='tpl_head.html'}
    <script type="text/javascript" src="{$base_url}lib/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{$base_url}lib/jquery-ui-1.7.2.custom.min.js"></script>
  </head>
  <body>
    {include file='tpl_navigation.html'}
    <div id="wrapper">
      <div id="content_1000">
      	<div id="module">:: Belanja Online Menu ::</div><br />
      	<div id="module">
      		<a href="{$base_url}9011/belanja/Belanja_9011_Main/online_claim">Belanja Online User</a> | 
      		<a href="{$base_url}9011/belanja/Belanja_9011_Main/claim">Belanja Offline User</a> |
            <a href="{$base_url}9011/belanja/Belanja_9011_Main/beli_list">Belanja Beli List</a>
      	</div>
      	<br />
      	<div style="font-weight: bold;">Beli List</div>
      	<div style="border-bottom:1px solid #666;" class="cititation">Show user list that claim for the prize.</div>
      	         	     	
      	  {foreach from=$winner item=item}
      	    <div style="margin-top:2px;">
	            <div class="bodyTable clear float-left" style="width:50px;">{$item.NOMOR}</div>
				<div class="bodyTable float-left" style="width:100px;">{$item.MSGFROM}</div>
                <div class="bodyTable float-left" style="width:200px;">{$item.MSGTIMESTAMP}</div>
			<div>		        
      	  {/foreach}
      </div>
      
      {* paging *}
      {if isset($hasPage) && $hasPage!=0}                
        <div class="clear paging">Page: {section name=page start=1 loop=$hasPage step=1}<a href="{$base_url}9011/belanja/Belanja_9011_Main/online_claim/page/{$smarty.section.page.index}/day/{$day}/month/{$month}/year/{$year}">{$smarty.section.page.index}</a> {/section}</div>
      {/if}
    </div>
  </body>
</html>