<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

		<title>WAP - Waptool Creation</title>

		{include file='common/tpl_head.html'}
	</head>
    
	<body>
		<div id="container">
			<div id="header">
				{include file='common/tpl_navigation.html'}
				<!--div id="head-extra">
					<div class="wrap">
						<ul id="breadcrumbs">
							<li>You are here :</li>
							<li><a href="{$base_url}service">Service</a></li>
							<li><a href="{$base_url}service">Service List</a></li>
						</ul>
					</div>
				</div-->
			</div>