<html>
<head>
	{include file='tpl_head.html'}
	<script type="text/javascript" src="{$base_url}lib/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{$base_url}lib/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript">
	{literal}
	
	{/literal}
	</script>
</head>
<body>
{include file='tpl_navigation.html'}
<div id="wrapper">
	<div id="content_1000">
		<div id="module">:: DV Menu ::</div>
		<div id="module"><a href="{$base_url}9011/dv/DV_9011_Main/dv_content">Content</a> | <a href="{$base_url}9011/dv/DV_9011_Main/prizeInfo">Prize</a> | <a href="{$base_url}9011/dv/DV_9011_Main/undian">Pemenang</a></div>
		<br />
		<div style="font-weight: bold;">Daftar Pemenang Harian</div>
		<div style="border-bottom:1px solid #666;" class="cititation">Show winner that listed on dv service.</div>
        <div>
        	<input type="button" name="add" value="     Daftar Pemenang Harian     " onClick="location='{$base_url}9011/dv/DV_9011_Main/undian'"/>&nbsp;&nbsp;
            <input type="button" name="prizeInfo" value="     Seleksi Pemenang Harian     " onClick="location='{$base_url}9011/dv/DV_9011_Main/pengundian'"/>&nbsp;&nbsp;
            <input type="button" name="add" value="     Daftar Pemenang Block     " onClick="location='{$base_url}9011/dv/DV_9011_Main/undian_block'"/>&nbsp;&nbsp;
            <input type="button" name="prizeInfo" value="     Seleksi Pemenang Block     " onClick="location='{$base_url}9011/dv/DV_9011_Main/pengundian_block'"/>&nbsp;&nbsp;
            {if isset($msg)}<font color="red">{$msg}</font>{/if}
        </div>
        
		<div style="margin-top:2px;">
            <div class="headTable clear float-left" style="width:100px;">MSISDN</div>
            <div class="headTable float-left" style="width:100px;">Point</div>
            <div class="headTable float-left" style="width:150px;">Prize</div>
            <div class="headTable float-left" style="width:100px;">Prize Type</div>
            <div class="headTable float-left" style="width:150px;">Claimed</div>
		</div>
        {assign var="rowCount" value="0"}
        {foreach from=$pemenang item=item}
        	{assign var="rowCount" value="`$rowCount+1`"}
            <div style="margin-top:2px;">
            	<div class="{if ($rowCount%2)=='1'}bodyTable{else}bodyTable2{/if} clear float-left" style="width:100px;">{$item.msisdn}</div>
                <div class="{if ($rowCount%2)=='1'}bodyTable{else}bodyTable2{/if} float-left" style="width:100px; text-align:center">{$item.pin}</div>
            	<div class="{if ($rowCount%2)=='1'}bodyTable{else}bodyTable2{/if} float-left" style="width:150px;">{$item.name}</div>
                <div class="{if ($rowCount%2)=='1'}bodyTable{else}bodyTable2{/if} float-left" style="width:100px; text-align:center;">{$item.prize_type}</div>
                <div class="{if ($rowCount%2)=='1'}bodyTable{else}bodyTable2{/if} float-left" style="width:150px; text-align:center;">{$item.date_claimed}</div>
            <div>
        {/foreach}
    </div>
</div>
</body>
</html>