<html>
  <head>
    {include file='tpl_head.html'}
    <script type="text/javascript" src="{$base_url}assets/js/core/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{$base_url}assets/js/jquery-ui-1.8.2.custom.min.js"></script>
  </head>
  <body>
    {include file='tpl_navigation.html'}
    <div id="wrapper">
      <div id="content_1000">
      	<div id="module">:: Wap Registration Menu ::</div><br />
      	<div style="font-weight: bold;">Wap</div>
      	<div style="border-bottom:1px solid #666;" class="cititation">Show wap registration list</div>
      	<br />
      	<form method="post" action="{$base_url}{$activeShortcode}/wapreg/wapreg_home/">
      		Search Keywords : <input type="text" name="search" value="{$keyword}"/>
      		<input type="submit" name="submit" value="submit" />
      	</form><br />
      	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_home/add">Add new</a> |
      	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_ak/">AK Schedule</a><br /><br />
      	{if count($result) gt 0 && $result.0.id != ''}
      	<div class="width_1100">
        <div class="rows">
        	<div class="width_100 float_left border align_center padding head_color">Wap Name</div>
          <div class="width_100 float_left border align_center padding head_color">Service</div>
          <div class="width_200 float_left border align_center padding head_color">Wap Title</div>
          <div class="width_100 float_left border align_center padding head_color">Autoreg Timer</div>
          <div class="width_100 float_left border align_center padding head_color">Conf. Page</div>
          <div class="width_300 float_left border align_center padding head_color">&nbsp;</div>
        </div>
        {foreach from=$result item=item}
        <div class="rows">
        	<div class="width_100 float_left border align_center padding">{$item.wap_name}</div>
        	<div class="width_100 float_left border align_center padding">{$item.service}</div>
          <div class="width_200 float_left border align_center padding">{$item.wap_title}</div>
          <div class="width_100 float_left border align_center padding">{$item.autoreg}</div>
          <div class="width_100 float_left border align_center padding">{$item.confirmation_page}</div>
          <div class="width_300 float_left border align_center padding">
          	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_home/edit/{$item.id}">Edit</a> | 
          	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_home/delete/{$item.id}">Delete</a> |
          	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_params/index/{$item.id}">Wap Params</a> |
          	<a href="{$base_url}{$activeShortcode}/wapreg/wapreg_layout/index/{$item.id}">Home Layout</a>
          </div>
        </div>
        {/foreach}
        <div class="rows">{$pagination}</div>
      	{else}
      		<br /><br />No data yet
      	{/if}
    </div>
  </body>
</html>
