<html>
  <head>
    {include file='tpl_head.html'}
  </head>
  <body>
    {include file='tpl_navigation.html'}
    <div id="wrapper">
      <div id="content_800">
        <div id="container"><div id="form">
        <form action="{$base_url}{$activeShortcode}/microsite/microsite_home/add/" method="post" name="add">
          <h3>Insert New Service</h3>
          <h6>{$error}</h6><br />
          <p><label for="name">Name *</label><input type="text" name="name" value="{$name}"></p>
          <p><label for="title">Title *</label><input type="text" name="title" value="{$title}"></p>
          <p><label for="disclaimer">Disclaimer *</label><textarea name="disclaimer">{$disclaimer}</textarea></p>
          <p><label for="description">Description</label><input type="text" name="description" value="{$description}"></p>
          <p>
          	<label for="type">Type *</label>
          	<select name="type">
          		<option value="">-----</option>
          		{foreach from=$type_array item=item key=type_key}
          		<option value="{$type_key}" {if $type eq $type_key}selected="selected"{/if}>{$item}</option>
          		{/foreach}
          	</select>
          </p>
          <p>
          	<label for="scope">Scope *</label>
          	<select name="scope">
          		<option value="">-----</option>
          		{foreach from=$scope_array item=item key=scope_key}
          		<option value="{$scope_key}" {if $scope eq $scope_key}selected="selected"{/if}>{$item}</option>
          		{/foreach}
          	</select>
          </p>
          <p><input type="submit" name="submit" value="Submit"><input type="reset" value="Reset"></p>
        </form>
        </div></div><hr /><br />
        <b>NOTE:</b><br />
        - Field with asterix (*) must be filled<br />
      </div>
    </div>
  </body>
</html>